{% extends "base.html" %}
{% block content %}
<h1>Generate Custom Album Art</h1>
<form id="album-art-form">
    <textarea name="lyrics" placeholder="Enter lyrics or genres" required></textarea>
    <button type="submit">Generate Art</button>
</form>
<div id="album-art-result"></div>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/album_art.css') }}">
{% endblock %}
{% block extra_js %}
<script src="{{ url_for('static', filename='js/album_art.js') }}"></script>
{% endblock %}
