{% extends "base.html" %}
{% block content %}
<h1>Discover Similar Artists</h1>
<form id="similar-artists-form">
    <input type="text" name="artist" placeholder="Enter artist name" required>
    <button type="submit">Find Similar Artists</button>
</form>
<ul id="similar-artists-list"></ul>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/similar_artists.css') }}">
{% endblock %}
{% block extra_js %}
<script src="{{ url_for('static', filename='js/similar_artists.js') }}"></script>
{% endblock %}
